<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    ::-webkit-scrollbar {
      display: none;
    }
    html, body {
      margin: 0;
      padding: 0;
    }
    
    canvas {
      display: block;
    }
    
  </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./static/logo.ico" type="image/x-icon">

  <title>{{title}}</title>
<link rel="stylesheet" href="./static/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.min.js"></script>
</head>

<body>


  <script src="./static/sketch.js"></script>
  <script src="./static/spotify.js"></script>
  <script src="./static/temperature.js"></script>
  <script src="./static/icons.js"></script>
</body>

</html>
